<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    </head>
<body>
    <h5>EDU Szkoła szybkiego czytania i technik pamięciowych<br>
poznan@akademiaedukacji.pl<br>
    Tel. 787 620 114<br></h5>
    <div style = "float:right;">
        <table>
            <tr><td>TRENER:</td><td>{{trener}}</td></tr>
            <tr><td>POCZĄTEK KURSU:</td><td>{{startKursu}}</td></tr>
            <tr><td>KURSANT:</td><td>{{nazwaKursanta}}</td></tr>
        
        </table>
    </div>
    <br><br><br><br><br><br>
    <div style="text-align: center; background-color: blueviolet;">UMOWA – REGULAMIN<br>
KURSU SZYBKIEGO CZYTANIA, TECHNIK PAMIĘCIOWYCH<br>
I KONCENTRACJI UWAGI<br>
</div>
    <p>zwany w dalszej części regulaminem. Organizowany przez EDU Szkołę szybkiego czytania i technik pamięciowych reprezentowaną przez <i>Usługi szkoleniowo-doradcze Tomasz Mlastek z siedzibą przy ul. Św. Marcin 29/8 w Poznaniu</i>, zwaną dalej EDU. </p>
<div style="text-align: center;">§ 1</div>
    <br>
      <div style="text-align: center; background-color: blueviolet;">ZASADY OGÓLNE<br></div>
    <div>
    <ol>
        <li>Edu prowadzi kursy szybkiego czytania, technik pamięciowych i koncentracji uwagi metodą mgr psychologii Bartosza Raszewskiego.</li>
        <p><b>Częstotliwość spotkań:<br>
            Kurs intensywny standardowy</b> – 9 tygodniowy, spotkania raz w tygodniu. Zajęcia odbywają się raz w tygodniu i trwają 90 minut. Łącznie kurs obejmuje 10 spotkań.
</p>
        <li>Edu oświadcza, że jest właścicielem praw autorskich do wyżej wymienionej metody.</li> 
        <li>W kursie mogą uczestniczyć osoby w wieku powyżej 13 lat, osoby rok młodsze również, ale po wcześniejszej konsultacji z trenerem.</li> 
        <li>W zajęciach może uczestniczyć maksymalnie 8 osób.</li> 
        <li>W Poznaniu – zajęcia odbywają się pod adresem {{lokalizacja}}. </li> 
        <li>Edu nie ponosi odpowiedzialności za rzeczy pozostawione w salach, w których odbywają się zajęcia oraz na terenie szkoły, w której wynajmowane są sale. W szkołach, w których odbywają się zajęcia, obowiązuje całkowity zakaz palenia tytoniu.</li> 
        <li>Jeśli na kurs zapisuje się osoba niepełnoletnia, z regulaminem zapoznaje się i podpisuje go rodzic, bądź opiekun.</li> 
        
    </ol>
        
        
    
    </div>
    <div style="text-align: center;">§ 2</div>
    <br>
     <div style="text-align: center; background-color: blueviolet;">ZASADY OBOWIĄZUJĄCE W ZAKRESIE GWARANCJI<br></div>
    <div>
    <ol>
        <li>Edu zastrzega sobie prawo do kontaktów telefonicznych z klientem związanych z organizacją kursu, zarówno podczas trwania kursu, jak             i po jego zakończeniu.</li>
        <li>Osoba, która rozpoczyna kurs ma prawo do pisemnej gwarancji zapewniającej, że dzięki odbyciu kursu: zwiększeniu ulegnie skuteczność uczenia się do 300%, w oparciu o zwiększenie prędkość czytania minimum o 300% z zachowaniem poziomu rozumienia czytanego tekstu, zwiększenie zapamiętywania o około 100% dzięki użyciu technik pamięciowych i zwiększenie koncentracji o około 100% (czas trwania i/lub zakres uwagi). Gwarancja obowiązuje tylko wtedy, gdy osoba uczestnicząca w kursie wypełni poniższe zobowiązania.</li> 
        <li>Osoba uczestnicząca w kursie zobowiązuje się w okresie trwania kursu do wykonywania ćwiczeń, obejmujących polecenia trenera i zestaw następujących bloków ćwiczeniowych:
        <ol type="a">
            <li><i>wykonywać ćwiczenia z podręcznika Bartosza Raszewskiego „Kurs szybkiego czytania, technik pamięciowych i koncentracji uwagi" trwające minimum 20 minut (zgodnie z poleceniami trenera);</i></li>
            <li><i>wykonywać ćwiczenia z książką trwające minimum 30 minut (według wskazówek trenera); </i></li>
            <li><i>wykonywać ćwiczenia dotyczące rozwoju pamięci i koncentracji, trwające minimum 25 minut (według zaleceń trenera prowadzącego zajęcia).</i></li>
            </ol>
        </li> 
        <li>Osoba uczestnicząca w kursie zobowiązuje się do rzetelnego i zgodnego ze stanem faktycznym informowania trenera o efektach ćwiczeń wykonywanych w domu.</li> 
        <li>Osoba uczestnicząca w kursie zobowiązuje się do napisania wszystkich testów przeprowadzonych podczas zajęć w celu weryfikacji bieżących postępów podczas trwania kursu. </li> 
        <li>Osoba uczęszczająca na kurs zobowiązuje się do obecności na wszystkich zajęciach kursu. W przypadku nieobecności istnieje możliwość bezpłatnego odrobienie tych zajęć - na zajęciach innej grupy, jeśli takowa będzie miała wówczas zajęcia i będzie na podobnym etapie kursu.</li> 
        <li>W przypadku braku możliwości uczestniczenia w zaplanowanych zajęciach kursant zobowiązuje się do poinformowania trenera co najmniej dzień przed planowanym terminem zajęć (drogą e-mailową, telefoniczną lub smsową). </li>
         <li>W przypadku, gdy kursant wypełni zobowiązania zapisane w §2 w punktach 3, 4, a nie wystąpi zagwarantowany efekt, Edu zobowiązuje się umożliwić takiemu kursantowi (bezpłatnie) dodatkowe ćwiczenia w ramach bezpłatnych konsultacji do chwili wystąpienia zagwarantowanego efektu lub zwrócić opłatę wniesioną za kurs. O wyborze rozwiązania decyduje kursant. </li> 
        <li>Na ostatnim spotkaniu Edu wystawia kursantowi certyfikat ukończenia kursu. W przypadku większej ilości spotkań opuszczonych przez kursanta, certyfikat ukończenia kursu otrzymują tylko kursanci, którzy mają mniej niż 3 nieuzupełnione spotkania.</li> 
        <li>Osoba uczestnicząca w kursie musi zachowywać się tak, aby nie utrudniać trenerowi możliwości prowadzenia zajęć. W przeciwnym razie zostaną zastosowane odpowiednie sankcje do zawieszenia uczestnictwa w kursie, aż do momentu poprawy zachowania włącznie.</li> 
        
    </ol>
        
        
    
    </div>
    
      <div style="text-align: center;">§ 3</div>
    <br>
     <div style="text-align: center; background-color: blueviolet;">CENY, ZASADY I FORMY PŁATNOŚCI<br></div>
    <div>
    <ol>
        <li>Cena podstawowa kursu (katalogowa) grupowego wynosi 920,00 zł (aktualne rabaty i promocje są opisane w § 4). </li>
        <li>Cena zawiera wszystkie materiały potrzebne do nauki podczas kursu.</li> 
        <li>Akademia na życzenie kursanta lub jego prawnego opiekuna wystawia fakturę za świadczone usługi w terminie 7 dni od daty sprzedaży. </li> 
        <li>W przypadku kursów organizowanych przez EDU Poznań – sposób rezerwacji miejsca na kursie opisano w <i>Regulaminie na stronie www.szybkieczytanie-poznan.pl</i> </li> 
        <li>Opłaty za kurs można dokonywać tylko przelewem na konto firmowe w Alior Banku <b>03 2490 0005 0000 4530 6834 7489</b>.</li> 
        <li>Poszczególne kursy mogą być objęte odrębną promocją sezonową <i>(np. świąteczną: grudniową lub wielkanocną, jubileuszową itp.)</i>. </li>
         <li>Edu nie zwraca wniesionej kwoty za zajęcia niewykorzystane z powodu wyjazdu, choroby, czy innych zdarzeń losowych lub też                 w przypadku rezygnacji w trakcie trwania kursu.</li> 
        <li>Osoba, która przerwie kurs ma możliwość wznowienia kursu z inną grupą po uiszczeniu dodatkowej opłaty w wysokości 190,00 zł, przy czym przerwa poprzedzająca wznowienie nie może być dłuższa niż rok kalendarzowy.</li> 
        
    </ol>
    </div>
        <div style="text-align: center;">§ 4</div>
    <br>
     <div style="text-align: center; background-color: blueviolet;">ZASADY UDZIELANIA RABATU I PROMOCJE<br></div>
    <div>
    <ol>
        <li><b>W aktualnej promocji trwającej do {{dataPromocji}} roku, cena kursu wynosi {{rezerwacja + cenaDoUmowy}} zł dla kursów grupowych. Warunkiem koniecznym by skorzystać z w/w promocji jest zgłoszenie na kurs (poprzez formularz rejestracyjny lub telefonicznie) w okresie obowiązującej promocji oraz opłacenie udziału w kursie zgodnie z punktem a.. Opłaty za uczestnictwo w kursie dokonuje się w jednej z dwóch opcji:</b>
            <br><br>
        <ol type = "a">
            <li><b>{{rezerwacja}} zł płatne przy zapisie i {{cenaDoUmowy}}. zł płatne przed trzecimi zajęciami,</b></li>
            <li><b>{{rezerwacja}}zł płatne przy zapisie oraz {{rata1}} zł płatne przed trzecimi zajęciami i {{rata2}} zł płatne przed piątymi zajęciami, wówczas cena kursu wynosi {{cenaCal}} zł.</b></li>
            </ol>
        </li>
       
    </ol>
    </div>
    
    <div style="text-align: center;">§ 5</div>
    <br>
     <div style="text-align: center; background-color: blueviolet;">DANE OSOBOWE NIEZBĘDNE DO CELÓW ORGANIZACJI KURSU<br></div>
    <p>Prosimy o wypełnienie drukowanymi literami poniższych rubryk. W przypadku osoby niepełnoletniej wypełnia rodzic lub prawny opiekun dziecka.</p>
    
    <div style = "float:center;">
        <table>
            <tr><td>IMIĘ I NAZWISKO OSOBY PODPISUJĄCEJ UWOWĘ:</td><td>{{imieNazwisko}}</td></tr>
            <tr><td>ADRES:</td><td>{{ulica}} {{nrDomu}} {{nrLokalu}}, {{kod}} {{miasto}}</td></tr>
            <tr><td>E-MAIL:</td><td>{{email}}</td></tr>
             <tr><td>TELEFON KOMÓRKOWY:</td><td>{{telefon}}</td></tr>
        
        </table>
        <p style="font-size: 11px;"><i>W rozumieniu Ustawy z dn. 10 maja 2018 r. o ochronie danych osobowych (Dz.U. 2018 poz. 1000) administratorem danych osobowych, które podali Państwo powyżej stanie się Edu Szkoła szybkiego czytania i technik pamięciowych reprezentowana przez Usługi szkoleniowo-doradcze Tomasz Mlastek, ul. Św. Marcin 29/8 61-806 Poznań. Dane osobowe podają Państwo dobrowolnie. Będą one przetwarzane w celach statystycznych i marketingowych np. celem przekazania Państwu materiałów promocyjnych, edukacyjnych lub innych informacji o produktach w przyszłości. Przysługuje Państwu prawo wglądu do swoich danych oraz ich poprawiania jak również usunięcia. Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb marketingowych w Edu zgodnie z Ustawą o Ochronie Danych Osobowych z dnia 29.10.1997r.(Dz. U. Nr 133, poz. 883 ).</i></p>
    </div>
    <br><br>
    <div 
         >
        <table>
            <tr><td>...............................................................................</td></tr>
            <tr><td style="font-size: 9px;">podpis uczestnika kursu lub jego opiekuna (w przypadku osoby niepełnoletniej) oraz data</td></tr>
        </table>
        
    </div>
    <div style="text-align: center;">§ 6</div>
    <br>
     <div style="text-align: center; background-color: blueviolet;">POSTANOWIENIA KOŃCOWE<br></div>
    <ol><li>Osoba rozpoczynająca kurs, a w przypadku nieletnich ich prawny opiekun oświadcza, że zapoznała się z powyższym regulaminem oraz zasadami obowiązującymi w okresie kursu i w pełni je akceptuje.</li></ol>
    <br><br>
    
    <div style = "float:center;">
        <table>
            
            <tr><td>.......................................</td><td style="color: white">.................................................</td><td>.................................................</td></tr>
             <tr><td style="font-size: 9px;">podpis uczestnika kursu lub jego opiekuna<br> (w przypadku osoby niepełnoletniej) oraz data</td><td>                                           </td><td style="font-size: 9px;">Podpis przedstawiciela EDU</td></tr>
        
        </table>
       
    </div>
    
    </body>



</html>